version: 2.1
jobs:
  build:
    docker:
      - image: cypress/base:14.16.0
    working_directory: ~/Desktop/projects/backend-automation
    steps:
      - checkout
      - run: yarn install

      - run:
          name: Run API tests
          command: npm cy:run --spec cypress/integration/api/*.spec.js