version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:14
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            npm install
            npm install cypress
      - run:
          name: Run API tests
          command: |
            npx cypress run --headless --config-file cypress.json --spec "cypress/integration/api/**/*.spec.js"
workflows:
  version: 2
  build:
    jobs:
      - build
